<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$APPLICATION_NAME}系统后台</title>
<!--                       CSS                       -->
<!-- Reset Stylesheet -->
<load href="__PUBLIC__/resources/css/reset.css" />
<!-- Main Stylesheet -->
<load href="__PUBLIC__/resources/css/style.css" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<load href="__PUBLIC__/resources/css/invalid.css" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<load href="__PUBLIC__/resources/scripts/jquery-1.3.2.min.js" />
<!-- jQuery Configuration -->
<load href="__PUBLIC__/resources/scripts/simpla.jquery.configuration.js" />
<!-- Facebox jQuery Plugin -->
<load href="__PUBLIC__/resources/scripts/facebox.js" />
<!-- jQuery WYSIWYG Plugin -->
<load href="__PUBLIC__/resources/scripts/jquery.wysiwyg.js" />
<!-- jQuery Datepicker Plugin -->
<load href="__PUBLIC__/resources/scripts/jquery.datePicker.js" />
<load href="__PUBLIC__/resources/scripts/jquery.date.js" />
</head>
<body>
	<div id="body-wrapper">
		<!-- Wrapper for the radial gradient background -->
		<div id="sidebar">
			<div id="sidebar">
				<include file='./Application/Admin/View/Menu/slidebar.html' />
			</div>
		</div>
		<div id="main-content">
			<div class="content-box">
				<!-- Start Content Box -->
				<div class="content-box-header">
					<h3>系统设置:学院</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">当前设置</a></li>
						<!-- href must be unique and match the id of target div -->
						<li><a href="#tab2">添加学院</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<!-- End .content-box-header -->
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1">

						<table>
							<thead>
								<tr>
									<th><input class="check-all" type="checkbox" /></th>
									<th>学院名称</th>
									<th>学院描述</th>
									<th>排序</th>
									<th>操作</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="4">
										<div class="bulk-actions align-left">
											<a class="button" onclick="deleteAcademyMulti()">删除选中</a>
										</div>
										<div class="pagination">{$pageAcademy}</div> <!-- End .pagination -->
										<div class="clear"></div>
									</td>
								</tr>
							</tfoot>
							<tbody>
								<foreach name="listAcademy" item="itemAcademy">
								<tr>
									<td><input type="checkbox" name='checkboxacademy'
										id='{$itemAcademy[academyid]}' /></td>
									<td>{$itemAcademy[academyname]}</td>
									<td>{$itemAcademy[academydescription]}</td>
									<td>{$itemAcademy[academyrank]}</td>
									<td><a
										href="{:U('SystemSetting/editAcademy','academyid=' . $itemAcademy[academyid])}"
										title="Edit" target="_blank"><img
											src="__PUBLIC__/resources/images/icons/pencil.png" alt="编辑" /></a>
										<a
										href="{:U('SystemSetting/organizationSystemSetting','deleteAcademy=' . $itemAcademy[academyid])}"
										title="Delete"><img
											src="__PUBLIC__/resources/images/icons/cross.png"
											onclick="javascript:return confirm('确定要删除吗?');" alt="删除" /></a></td>
								</tr>
								</foreach>

							</tbody>
						</table>
					</div>
					<!-- End #tab1 -->
					<div class="tab-content" id="tab2">
						<form action="{:U('SystemSetting/addAcademy')}" method="post">
							<fieldset>
								<!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								<p>
									<label>学院名称</label> <input
										class="text-input medium-input datepicker" type="text"
										id="medium-input" name="academyName" /> <br />
								</p>
								<p>
									<label>学院描述</label> <input
										class="text-input medium-input datepicker" type="text"
										id="medium-input" name="academyDescription" /> <br />
								</p>
								<p>
									<label>学院排序(学院在系统中按照此项进行降序排序)</label> <input
										class="text-input medium-input datepicker" type="text"
										id="medium-input" name="academyRank" /> <br />
								</p>
								<p>
									<input class="button" type="submit" value="确定" />
								</p>
							</fieldset>
							<div class="clear"></div>
							<!-- End .clear -->
						</form>
					</div>
					<!-- End #tab2 -->
				</div>
				<!-- End .content-box-content -->
			</div>
			<div class="content-box">
				<!-- Start Content Box -->
				<div class="content-box-header">
					<h3>系统设置:支部</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab3" class="default-tab">当前设置</a></li>
						<!-- href must be unique and match the id of target div -->
						<li><a href="#tab4">添加支部</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<!-- End .content-box-header -->
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab3">

						<table>
							<thead>
								<tr>
									<th><input class="check-all" type="checkbox" /></th>
									<th>支部名称</th>
									<th>学院</th>
									<th>操作</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="4">
										<div class="bulk-actions align-left">
											<a class="button" onclick="deleteBranchMulti()">删除选中</a>
										</div>
										<div class="pagination">{$pageBranch}</div> <!-- End .pagination -->
										<div class="clear"></div>
									</td>
								</tr>
							</tfoot>
							<tbody>
								<foreach name="listBranch" item="itemBranch">
								<tr>
									<td><input type="checkbox" name='checkboxbranch'
										id='{$itemBranch[branchid]}' /></td>
									<td>{$itemBranch[branchname]}</td>
									<td>{$itemBranch[branchacademy]}</td>
									<td><a
										href="{:U('SystemSetting/editBranch','branchid=' . $itemBranch[branchid])}"
										title="Edit" target="_blank"><img
											src="__PUBLIC__/resources/images/icons/pencil.png" alt="编辑" /></a>
										<a
										href="{:U('SystemSetting/organizationSystemSetting','deleteBranch=' . $itemBranch[branchid])}"
										title="Delete"><img
											src="__PUBLIC__/resources/images/icons/cross.png"
											onclick="javascript:return confirm('确定要删除吗?');" alt="删除" /></a></td>
								</tr>
								</foreach>

							</tbody>
						</table>
					</div>
					<!-- End #tab3 -->
					<div class="tab-content" id="tab4">
						<form action="{:U('SystemSetting/addBranch')}" method="post">
							<fieldset>
								<!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								<p>
									<label>支部名称</label> <input
										class="text-input medium-input datepicker" type="text"
										id="medium-input" name="branchName" /> <br />
								</p>
								<p>
									<label>支部描述</label> <input
										class="text-input medium-input datepicker" type="text"
										id="medium-input" name="branchDescription" /> <br />
								</p>
								<p>
									<label>学院</label> <select name="branchAcademy"
										class="small-input">
										<foreach name="listAcademy" item="itemAcademy">
										<option value="{$itemAcademy[academyid]}">{$itemAcademy[academyname]}</option>
										</foreach>
									</select> <br />
								</p>
								<p>
									<input class="button" type="submit" value="确定" />
								</p>
							</fieldset>
							<div class="clear"></div>
							<!-- End .clear -->
						</form>
					</div>
					<!-- End #tab4 -->
				</div>
				<!-- End .content-box-content -->
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	function deleteAcademyMulti() {
		if (confirm('确定要删除吗?')) {
			var id = document.getElementsByName('checkboxacademy');
			var value = new Array();
			for (var i = 0; i < id.length; i++) {
				if (id[i].checked)
					value.push(id[i].id);
			}
			//alert(value.toString());
			window.location = "{:U('SystemSetting/organizationSystemSetting','deleteAcademyMulti=-1')}"
					+ "," + value.toString();
		}
	}

	function deleteBranchMulti() {
		if (confirm('确定要删除吗?')) {
			var id = document.getElementsByName('checkboxbranch');
			var value = new Array();
			for (var i = 0; i < id.length; i++) {
				if (id[i].checked)
					value.push(id[i].id);
			}
			//alert(value.toString());
			window.location = "{:U('SystemSetting/organizationSystemSetting','deleteBranchMulti=-1')}"
					+ "," + value.toString();
		}
	}
</script>
